@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
.DiscountCard{
  @apply flex items-center flex-col md:flex-row gap-4 w-full rounded-md p-6 bg-[#e0dfdf69] backdrop-blur-sm;
}
.paymentContainer{
}
.paymentContainer > *:nth-child(2){
  position: relative;
  margin-left: 2rem;
}
.paymentContainer > *:nth-child(2):before{
  position: absolute; 
  content: "";
  top: 0;
  left: -35%;
  height: 100%;
  width: 2px;
  background: #7c7c7c;
}
.paymentContainer > *:nth-child(6){
  position: relative;
  margin-right: 2rem;
}
.paymentContainer > *:nth-child(6):after{
  position: absolute;
  content: "";
  top: 0;
  right: -35%;
  height: 100%;
  width: 2px;
  background: #7c7c7c;
}
.links,.footerLinks{
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}
/* .quesitonList > *::after{
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #22f54f;
  left: 0;
  bottom: 0;
  transition: width 300ms ease-in;
} */
:is(.links,.footerLinks)::after{
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #34ffdd;
  left: 0;
  bottom: 0;
  transition: width 300ms ease-in;
}
:is(.footerLink1,.footerLink2,.footerLink3)::after{
  background-color: #c9c7c7;
}
.links1:hover::after{
  width: 100%;
}
.links2:hover::after{
  width: 100%;
}
.links3:hover::after{
  width: 100%;
}
.footerLink1:hover::after{
  width: 100%;
}
.footerLink2:hover::after{
  width: 100%;
}
.footerLink3:hover::after{
  width: 100%;
}
.quesitonList > *:not(:last-child){
  margin-bottom: 1rem;
}
.quesitonList > *::marker{
  color: orange;
  font-size: 1rem;
}
.tyt{
  @apply bg-gray-100 w-max drop-shadow-lg py-2 px-8 rounded-full cursor-pointer uppercase text-yellow-500 text-base font-semibold hover:bg-yellow-500 duration-300 ease-out hover:text-white transition-all;
}
.rumuna{
  @apply bg-gray-100 w-max drop-shadow-lg py-2 px-8 rounded-full cursor-pointer uppercase text-yellow-500 text-base;
}
/* !! Time Style Start */
.clock {
  /* position: relative; */
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 5rem;
  right: 0%;
  /* overflow: hidden; */
  background-color: hsla(18, 90%, 72%, 0.945);
  color: #ffff;
  font-size: 4rem;
  padding: 1rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-end-start-radius: 0.5rem;
  border-start-start-radius: 0.5rem;
  transition: border-radius 300ms 300ms ease-in;
  cursor: pointer;
}
.times {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 3rem;
  background-color: #fff;

  right: -10rem;
  padding-inline: 1rem;
  color: #222;
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
  opacity: 0;
  font-family: poppins;
  font-weight: bold;
  z-index: -100;
  transition: right 300ms ease-in, opacity 300ms ease-in;
}
.phase {
  color: hsla(18, 90%, 72%, 0.945);
  padding-left: 0.5rem;
}
.clock:hover .times {
  right: 3rem;
  opacity: 1;
}
.clock:hover {
  border-end-start-radius: 0rem;
  border-start-start-radius: 0rem;
}
/* !! Time Style End */